In [18]:
import requests
url='https://query1.finance.yahoo.com/v7/finance/download/TSLA?period1=1633396863&period2=1664932863&interval=1d&events=history&includeAdjustedClose=true'
headers={'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36'}
resp=requests.get(url, headers = headers)

In [19]:
import pandas as pd

import io

df = pd.read_csv(io.StringIO(resp.content.decode('utf-8')))

In [20]:
print(df)

           Date        Open        High         Low       Close   Adj Close  \
0    2021-10-05  261.600006  265.769989  258.066681  260.196655  260.196655
1    2021-10-06  258.733337  262.220001  257.739990  260.916656  260.916656
2    2021-10-07  261.820007  268.333344  261.126678  264.536682  264.536682
3    2021-10-08  265.403320  265.459991  260.303345  261.829987  261.829987
4    2021-10-11  262.549988  267.079987  261.833344  263.980011  263.980011
..          ...         ...         ...         ...         ...         ...
247  2022-09-28  283.079987  289.000000  277.570007  287.809998  287.809998
248  2022-09-29  282.760010  283.649994  265.779999  268.209991  268.209991
249  2022-09-30  266.149994  275.570007  262.470001  265.250000  265.250000
250  2022-10-03  254.500000  255.160004  241.009995  242.399994  242.399994
251  2022-10-04  250.520004  257.500000  242.009995  249.440002  249.440002

        Volume
0     55297800
1     43898400
2     57587400
3     50215800
4     42600900
..         ...
247   54664800
248   77620600
249   67517800
250   98363500
251  109344200

[252 rows x 7 columns]

In [22]:
l = ['TSLA', 'AAPL', 'BNGO']
for x in l:
  url='https://query1.finance.yahoo.com/v7/finance/download/'+x+'?period1=1633396863&period2=1664932863&interval=1d&events=history&includeAdjustedClose=true'
  headers={'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36'}
  resp=requests.get(url, headers = headers)
  df = pd.read_csv(io.StringIO(resp.content.decode('utf-8')))
  print(df)

           Date        Open        High         Low       Close   Adj Close  \
0    2021-10-05  261.600006  265.769989  258.066681  260.196655  260.196655
1    2021-10-06  258.733337  262.220001  257.739990  260.916656  260.916656
2    2021-10-07  261.820007  268.333344  261.126678  264.536682  264.536682
3    2021-10-08  265.403320  265.459991  260.303345  261.829987  261.829987
4    2021-10-11  262.549988  267.079987  261.833344  263.980011  263.980011
..          ...         ...         ...         ...         ...         ...
247  2022-09-28  283.079987  289.000000  277.570007  287.809998  287.809998
248  2022-09-29  282.760010  283.649994  265.779999  268.209991  268.209991
249  2022-09-30  266.149994  275.570007  262.470001  265.250000  265.250000
250  2022-10-03  254.500000  255.160004  241.009995  242.399994  242.399994
251  2022-10-04  250.520004  257.500000  242.009995  249.440002  249.440002

        Volume
0     55297800
1     43898400
2     57587400
3     50215800
4     42600900
..         ...
247   54664800
248   77620600
249   67517800
250   98363500
251  109344200

[252 rows x 7 columns]
           Date        Open        High         Low       Close   Adj Close  \
0    2021-10-05  139.490005  142.240005  139.360001  141.110001  140.323700
1    2021-10-06  139.470001  142.149994  138.369995  142.000000  141.208725
2    2021-10-07  143.059998  144.220001  142.720001  143.289993  142.491531
3    2021-10-08  144.029999  144.179993  142.559998  142.899994  142.103714
4    2021-10-11  142.270004  144.809998  141.809998  142.809998  142.014206
..          ...         ...         ...         ...         ...         ...
247  2022-09-28  147.639999  150.639999  144.839996  149.839996  149.839996
248  2022-09-29  146.100006  146.720001  140.679993  142.479996  142.479996
249  2022-09-30  141.279999  143.100006  138.000000  138.199997  138.199997
250  2022-10-03  138.210007  143.070007  137.690002  142.449997  142.449997
251  2022-10-04  145.029999  146.220001  144.259995  146.100006  146.100006

        Volume
0     80861100
1     83221100
2     61732700
3     58773200
4     64452200
..         ...
247  146691400
248  128138200
249  124705400
250  114311700
251   87697800

[252 rows x 7 columns]
           Date  Open  High   Low  Close  Adj Close   Volume
0    2021-10-05  5.05  5.16  4.98   5.10       5.10  5321200
1    2021-10-06  5.00  5.08  4.95   4.96       4.96  5853900
2    2021-10-07  5.01  5.30  4.92   5.18       5.18  8175500
3    2021-10-08  5.19  5.36  5.11   5.15       5.15  5432700
4    2021-10-11  5.15  5.23  5.10   5.11       5.11  3366500
..          ...   ...   ...   ...    ...        ...      ...
247  2022-09-28  1.81  1.98  1.80   1.95       1.95  4433300
248  2022-09-29  1.86  1.90  1.80   1.87       1.87  3874600
249  2022-09-30  1.87  1.95  1.83   1.83       1.83  2955900
250  2022-10-03  1.85  1.86  1.76   1.80       1.80  4713800
251  2022-10-04  1.88  2.05  1.88   2.04       2.04  6286400

[252 rows x 7 columns]